.starwars {
    width: 25em;
    height: 40em;
    border-radius: 10px;
    /* text-overflow: ellipsis; */
}

.text {
    width: 100%;
    /* overflow-y: scroll; */
    text-align: center;
    /* text-overflow: ellipsis; */
}
.films {
    overflow-y: hidden;
    
}

img {
    border-radius: 10px ;
}

p {
    font-size: 1.1em;
    
}